.createAnimePage {
    height: calc(100dvh - 99px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.createAnimeForm {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    border: solid;
    border-radius: 15px;
    padding: 20px;
}

.createAnimeLabels {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        height: 100px;
        width: 500px;
    }
}

.createAnimeUploadImage {
    display: flex;
    flex-direction: column;
}

.createAnimeImage {
    display: flex;
    justify-content: center;
    margin-left: 75px;
    column-gap: 10px;
}

.createAnimeErrors {
    color: red;
    display: flex;
    justify-content: center;
    position: relative;
}

.createAnimeSubmitContainer {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.createAnimeBtn {
    font-size: 20px;
}