.updateAnimeForm {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.updateAnimeLabels {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        height: 100px;
        width: 500px;
    }
}

.updateAnimeUploadImage {
    display: flex;
    flex-direction: column;
}

.updateAnimeImage {
    display: flex;
    justify-content: center;
    margin-left: 75px;
    column-gap: 10px;
}

.updateAnimeErrors {
    color: red;
}

.updateAnimeSubmitContainer {
    display: flex;
    justify-content: center;
}

.updateAnimeSubmitBtn {
    width: 75px;
}