.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lists {
    height: calc(100dvh - 259px);
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    flex-direction: row;
    column-gap: 50px;

    NavLink {
        text-decoration: none;
    }
}

.list {
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}