.welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lists {
    display: flex;
    flex-direction: row;
    column-gap: 50px;

    NavLink {
        text-decoration: none;
    }
}

.list {
    ul {
        list-style-type: none;
    }
}