.episodeEntirePage {
    display: flex;
    align-items: center;
    height: calc(100dvh - 100px);
}

.episodePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100dvw - 16px)
}

.episodePageTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ep-edit-delete {
    display: flex;
    column-gap: 10px;
}

.ep-plot-img-container {
    display: flex;
    justify-content: center;
    width: 100dvw;
}

.ep-plot-img {
    background-color: lightblue;
    width: 50%;

    img {
        margin-left: 20px;
        margin-bottom: 20px;
        width: 500px;
        height: auto;
        float: inline-end;
    }
}

.ep-prev-next-btns {
    display: flex;
    justify-content: space-between;
}