.episodeEntirePage {
    display: flex;
    align-items: center;
    height: calc(100dvh - 100px);
}

.episodePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100dvw - 16px)
}

.episodeNav {
    display: flex;
    flex-direction: column;
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: blue;
        font-size: 20px;
    }
}

.ep-edit-delete {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.ep-edit-delete-buttons {
    font-size: 25px;
}

.episodePageTitle {
    display: flex;
    justify-content: center;
}

.ep-plot-img-container {
    display: flex;
    justify-content: center;
    width: 100dvw;
    margin-bottom: 20px;
}

.ep-plot-img {
    background-color: lightblue;
    width: 50%;

    img {
        margin-left: 20px;
        margin-bottom: 20px;
        width: 500px;
        height: auto;
        float: inline-end;
    }
}

.ep-prev-next-container {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ep-prev-next-btns {
    display: flex;
    justify-content: space-between;
    width: 50%;

    button {
        font-size: 20px;
    }
}