.title-and-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    button {
        height: 30px;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.subcontainer {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: fit-content;
    column-gap: 50px;
}

.syn-img {
    background-color: lightblue;
    width: 80%;

    img {
        margin-left: 20px;
        margin-bottom: 20px;
        width: 500px;
        height: auto;
        float: inline-end;
    }
}

.edit-delete {
    width: 70px;
    display: flex;
    justify-content: space-between;
}

.episodes {
    background-color: lightgray;
    border-radius: 15px;
    width: 20%;
    display: flex;
    padding-left: 15px;
}