#updateCharacterAnimeChoices {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    list-style: none;
    overflow-x: scroll;
    max-width: 600px;
    padding: 0;

    .updateCharacterAnime {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            max-height: 10em;
            max-width: 10em;
        }
    }
}

.updateCharacterPage {
    height: calc(100dvh - 99px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.updateCharacterForm {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    border: solid;
    border-radius: 15px;
    padding: 20px;

    width: 600px;
}

.updateCharacterLabels {
    display: flex;
    flex-direction: column;
    align-items: center;

    textarea {
        height: 100px;
        width: 500px;
    }
}

.updateCharacterUploadImage {
    display: flex;
    flex-direction: column;
}

.updateCharacterImage {
    display: flex;
    justify-content: center;
    margin-left: 75px;
    column-gap: 10px;
}

.updateCharacterErrors {
    color: red;
    display: flex;
    text-align: center;
    position: relative;
}

.updateCharacterSubmitContainer {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.updateCharacterUploadBtn {
    font-size: 20px;
}

.updateCharacterBtn {
    border-radius: 15px;
    background-color: #5a2e98;
    color: white;
    font-size: 20px;
}