.SignUpModal {
    color: black;
    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width: 200px;
        }
    }
    button {
        border-radius: 15px;
        background-color: #5a2e98;
        color: white;
        width: 100px;
    }
}