.animeTitles {
    text-decoration: none;
    color: lightblue;
}
.animeTitles:hover {
    color: rgb(203, 195, 227);
}

#characterPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#characterDescription {
    margin: 20px;
    max-width: 800px;
}

#characterProfile {
    border: solid;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    max-height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.characterType {
    margin: 0;
    margin-left: 20px;
}

.animeOrigin {
    display: flex;
    flex-direction: row;
}

#originHeader {
    margin-bottom: 0;
}

#originList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}